$Mobile: 375px;
$Tablet: 992px;
$Desktop: 1440px;
$border-radius:.5rem;

@import './utils/color';
@import './utils/typography';
@import './utils/buttons';
@import './utils/mixin';

@import './feature';
@import './footer';


*{@include reset();}

body{
  font-family: $font-family-Poppins;
  font-size: 15px;
  position: relative;
}


.hidden{
  display: none;
}