// 06- Four card feature section solution

// Primary
$primary-red:#ea5353 ;
$primary-cyan:#45d3d3 ;
$primary-orange:#fcaf4a;
$primary-blue:#549ef2 ;

// Neutral
$neutral-dark-blue: #4c4e61;
$neutral-grayish-blue: #a3a5ae;
$neutral-light-gray: #fafafa;